<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div class="popup-template">
            <header>
                <img class="logo" src="./images/Logo.svg" alt="">
                
                <div class="popup-title">
                    <img src="./images/services.svg" alt="Logo">
                    <h4>Cadastrar Funcionário</h4>
                </div>
            </header>
            <form action="">
                <input type="String" placeholder="Nome" required>
                <input type="String" placeholder="Cargo" required>
                <input type="String" placeholder="Especialidade" required>
                <input type="e-mail"  placeholder="Email" required>
                <input type="number" placeholder="Numero de telefone" required>
                <input type="String" placeholder="Endereço" required>
                <div class="service-buttons">
                    <input type="submit" value="Enviar"> 
                </div>
            </form>
        </div>
    </main>
    <script src="./javascript/script.js"></script>
</body>
</html>
