<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <main>
        <div class="popup-template">
            <header>
                <img class="logo" src="./images/Logo.svg" alt="">
                <div class="popup-title">
                    <img src="" alt="">
                    <h4>Qual manutenção deseja fazer ?</h4>
                </div>
            </header>
            <form action="">
                <button>Adicionar Funcionário</button>
                <button>Adicionar Serviço</button>
                <div class="centered-buttons">
                    <button> Remover Serviço </button>
                    <button> Remover Funcionário </button>
                    
                </div>
            </form>
        </div>
    </main>
</body>

</html>
